// this config is in the kdl format: https://kdl.dev
// "/-" comments out the following node.
// Check the wiki for a full description of the configuration:
// https://yalter.github.io/niri/Configuration:-Introduction

output "DP-2" {
    mode "2560x1440@164.958"
    scale 1
    transform "normal"
    position x=0 y=0
    focus-at-startup
    variable-refresh-rate on-demand=true
}

output "DP-3" {
    mode "2560x1440@164.958"
    scale 1
    transform "normal"
    position x=2560 y=0
    variable-refresh-rate on-demand=true
}

output "HDMI-A-1" {
    off //toggletv
    mode "3840x2160@60"
    position x=5120 y=0
    /-layout {
        default-column-width { proportion 1; }
    }
}
