// this config is in the kdl format: https://kdl.dev
// "/-" comments out the following node.
// Check the wiki for a full description of the configuration:
// https://yalter.github.io/niri/Configuration:-Introduction

//Startup Apps on Certain Workspaces
window-rule {
    match at-startup=true app-id="Alacritty"
    open-on-workspace "PRIM"
    open-focused false
}
window-rule {
    match at-startup=true app-id=r#"steam$"#
    open-on-workspace "GAME"
    default-column-width {proportion 0.66; }
}
window-rule {
    match at-startup=true app-id=r#"tixati$"#
    open-on-workspace "TOR"
    open-focused false
}
window-rule {
    match at-startup=true app-id=r#"APPNAMEHERE$"#
    open-on-workspace "MEDIA"
    open-focused false
}
window-rule {
    match at-startup=true app-id=r#"vivaldi-stable$"#
    open-on-workspace "WWW"
}
window-rule {
    match at-startup=true app-id=r#"APPNAMEHERE$"#
    open-on-workspace "CAL"
    open-focused false
}
window-rule {
    match at-startup=true app-id=r#"signal$"#
    match at-startup=true app-id=r#"com.discordapp.Discord$"#
    open-on-workspace "CHAT"
    open-focused false
}
window-rule {
    match at-startup=true app-id=r#"brave-browser$"#
    open-on-workspace "DOC"
    open-focused false
}

//Always Maximized Apps
window-rule {
    match app-id=r#"vivaldi-stable$"#
    match app-id=r#"brave-browser$"#
    match app-id=r#"mpv$"#
    match app-id=r#"vlc$"#
    match app-id=r#"tixati$"#
    match app-id="steam_app_1284210"
    open-maximized true
}

//Always Floating Apps
window-rule {
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    open-floating true
}
window-rule {
    match title="btop_float"
    match title="nvtop_float"
    open-floating true
    default-column-width { fixed 1800; }
    default-window-height { fixed 1200; }
}
window-rule {
    match app-id=r#"galculator$"#
    open-floating true
}
window-rule {
    geometry-corner-radius 12
    clip-to-geometry true
}

//Make Alacritty Transparent
window-rule {
    match app-id="Alacritty"
    opacity 0.9
    //open-maximized true
}

//Remove Focus Ring and Block behind GW2 Launcher
window-rule {
    match title="Guild Wars 2"
    open-on-workspace "GAME"
    draw-border-with-background false
//    variable-refresh-rate true
    focus-ring {
        off
    }
}

//enable VRR for games through Steam
window-rule {
    match app-id="^steam_app"
  //  variable-refresh-rate true
}

//Layer Rule to make blurred background in Overview Mode
layer-rule {
    match namespace="dms:blurwallpaper"
    place-within-backdrop true
}
layer-rule {
    match namespace="waybar"
    place-within-backdrop true
}
