// This config is in the KDL format: https://kdl.dev
// "/-" comments out the following node.
// Check the wiki for a full description of the configuration:
// https://yalter.github.io/niri/Configuration:-Introduction

// Input device configuration.
// Find the full list of options on the wiki:
// https://yalter.github.io/niri/Configuration:-Input
input {
    keyboard {
        xkb {
            // You can set rules, model, layout, variant and options.
            // For more information, see xkeyboard-config(7).

            // For example:
            // layout "us,ru"
            // options "grp:win_space_toggle,compose:ralt,ctrl:nocaps"

            // If this section is empty, niri will fetch xkb settings
            // from org.freedesktop.locale1. You can control these using
            // localectl set-x11-keymap.
        }

        // Enable numlock on startup, omitting this setting disables it.
        numlock
    }

    // Next sections include libinput settings.
    // Omitting settings disables them, or leaves them at their default values.
    // All commented-out settings here are examples, not defaults.
    touchpad {
        // off
        tap
        // dwt
        // dwtp
        // drag false
        // drag-lock
        natural-scroll
        // accel-speed 0.2
        // accel-profile "flat"
        // scroll-method "two-finger"
        // disabled-on-external-mouse
    }

    mouse {
        // off
        // natural-scroll
        // accel-speed 0.2
        // accel-profile "flat"
        // scroll-method "no-scroll"
    }

    trackpoint {
        // off
        // natural-scroll
        // accel-speed 0.2
        // accel-profile "flat"
        // scroll-method "on-button-down"
        // scroll-button 273
        // scroll-button-lock
        // middle-emulation
    }

    // Uncomment this to make the mouse warp to the center of newly focused windows.
    // warp-mouse-to-focus

    // Focus windows and outputs automatically when moving the mouse into them.
    // Setting max-scroll-amount="0%" makes it work only on windows already fully on screen.
     focus-follows-mouse max-scroll-amount="0%"
}

// You can configure outputs by their name, which you can find
// by running `niri msg outputs` while inside a niri instance.
// The built-in laptop monitor is usually called "eDP-1".
// Find more information on the wiki:
// https://yalter.github.io/niri/Configuration:-Outputs
// Remember to uncomment the node by removing "/-"!
output "DP-3" {
    mode "2560x1440@164.958"

    // You can use integer or fractional scale, for example use 1.5 for 150% scale.
    scale 1

    // Transform allows to rotate the output counter-clockwise, valid values are:
    // normal, 90, 180, 270, flipped, flipped-90, flipped-180 and flipped-270.
    transform "normal"

    // outputs are sized in logical, or scaled, pixels.
    // For example, a 3840×2160 output with scale 2.0 will have a logical size of 1920×1080,
    // so to put another output directly adjacent to it on the right, set its x to 1920.
    position x=0 y=0
}

output "DP-2" {
    mode "2560x1440@164.958"

    // You can use integer or fractional scale, for example use 1.5 for 150% scale.
    scale 1

    // Transform allows to rotate the output counter-clockwise, valid values are:
    // normal, 90, 180, 270, flipped, flipped-90, flipped-180 and flipped-270.
    transform "normal"

    // outputs are sized in logical, or scaled, pixels.
    // For example, a 3840×2160 output with scale 2.0 will have a logical size of 1920×1080,
    // so to put another output directly adjacent to it on the right, set its x to 1920.
    position x=2560 y=0
}

output "HDMI-A-1" {
    off
    //mode "2560x1440@164.958"

    // You can use integer or fractional scale, for example use 1.5 for 150% scale.
    //scale 1

    // Transform allows to rotate the output counter-clockwise, valid values are:
    // normal, 90, 180, 270, flipped, flipped-90, flipped-180 and flipped-270.
    //transform "normal"

    // outputs are sized in logical, or scaled, pixels.
    // For example, a 3840×2160 output with scale 2.0 will have a logical size of 1920×1080,
    // so to put another output directly adjacent to it on the right, set its x to 1920.
    //position x=2560 y=0
}

// Settings that influence how windows are positioned and sized.
// Find more information on the wiki:
// https://yalter.github.io/niri/Configuration:-Layout
layout {
    // Set gaps around windows in logical pixels.
    gaps 4
    background-color "transparent"

    // When to center a column when changing focus, options are:
    // - "never", default behavior, focusing an off-screen column will keep at the left
    //   or right edge of the screen.
    // - "always", the focused column will always be centered.
    // - "on-overflow", focusing a column will center it if it doesn't fit
    //   together with the previously focused column.
    center-focused-column "never"

    // You can customize the widths that "switch-preset-column-width" (Mod+R) toggles between.
    preset-column-widths {
        // Proportion sets the width as a fraction of the output width, taking gaps into account.
        // For example, you can perfectly fit four windows sized "proportion 0.25" on an output.
        // The default preset widths are 1/3, 1/2 and 2/3 of the output.
        proportion 0.33333
        proportion 0.5
        proportion 0.66667

        // Fixed sets the width in logical pixels exactly.
        // fixed 1920
    }

    // You can also customize the heights that "switch-preset-window-height" (Mod+Shift+R) toggles between.
    // preset-window-heights { }

    // You can change the default width of the new windows.
    default-column-width { proportion 0.5; }
    // If you leave the brackets empty, the windows themselves will decide their initial width.
    // default-column-width {}

    // By default focus ring and border are rendered as a solid background rectangle
    // behind windows. That is, they will show up through semitransparent windows.
    // This is because windows using client-side decorations can have an arbitrary shape.
    //
    // If you don't like that, you should uncomment `prefer-no-csd` below.
    // Niri will draw focus ring and border *around* windows that agree to omit their
    // client-side decorations.
    //
    // Alternatively, you can override it with a window rule called
    // `draw-border-with-background`.

    // You can change how the focus ring looks.
    
    focus-ring {
        // Uncomment this line to disable the focus ring.
        // off

        // How many logical pixels the ring extends out from the windows.
        width 4

        // Colors can be set in a variety of ways:
        // - CSS named colors: "red"
        // - RGB hex: "#rgb", "#rgba", "#rrggbb", "#rrggbbaa"
        // - CSS-like notation: "rgb(255, 127, 0)", rgba(), hsl() and a few others.

        // Color of the ring on the active monitor.
        active-color "#5E81AC"

        // Color of the ring on inactive monitors.
        //
        // The focus ring only draws around the active window, so the only place
        // where you can see its inactive-color is on other monitors.
        inactive-color "#505050"

        // You can also use gradients. They take precedence over solid colors.
        // Gradients are rendered the same as CSS linear-gradient(angle, from, to).
        // The angle is the same as in linear-gradient, and is optional,
        // defaulting to 180 (top-to-bottom gradient).
        // You can use any CSS linear-gradient tool on the web to set these up.
        // Changing the color space is also supported, check the wiki for more info.
        //
        // active-gradient from="#80c8ff" to="#c7ff7f" angle=45

        // You can also color the gradient relative to the entire view
        // of the workspace, rather than relative to just the window itself.
        // To do that, set relative-to="workspace-view".
        //
        // inactive-gradient from="#505050" to="#808080" angle=45 relative-to="workspace-view"
    }

    // You can also add a border. It's similar to the focus ring, but always visible.

    // You can enable drop shadows for windows.

}
workspace "PRIM" {
    open-on-output "DP-3"
}
workspace "GAME" {
    open-on-output "DP-3"
}
workspace "TOR" {
    open-on-output "DP-3"
}
workspace "MEDIA" {
    open-on-output "DP-3"
}
workspace "WWW" {
    open-on-output "DP-2"
}
workspace "CAL" {
    open-on-output "DP-2"
}
workspace "CHAT" {
    open-on-output "DP-2"
}
workspace "DOC" {
    open-on-output "DP-2"
}
// Add lines like this to spawn processes at startup.
// Note that running niri as a session supports xdg-desktop-autostart,
// which may be more convenient to use.
// See the binds section below for more spawn examples.

// This line starts waybar, a commonly used bar for Wayland compositors.
//spawn-at-startup "waybar" "-c" "~/.config/niri/waybar/config.jsonc" "-s" "~/.config/niri/waybar/style.css"
spawn-at-startup "nm-applet"
spawn-at-startup "pamac-tray-plasma"
spawn-at-startup "xfce4-power-manager"
spawn-at-startup "blueman-applet"
spawn-sh-at-startup "~/.config/niri/scripts/startup"
spawn-at-startup "/usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1"
spawn-at-startup "xwayland-satellite"
spawn-at-startup "vivaldi-stable"
spawn-at-startup "tixati"
spawn-at-startup "alacritty"
spawn-at-startup "steam"


// To run a shell command (with variables, pipes, etc.), use spawn-sh-at-startup:
// spawn-sh-at-startup "qs -c ~/source/qs/MyAwesomeShell"

hotkey-overlay {
    // Uncomment this line to disable the "Important Hotkeys" pop-up at startup.
     skip-at-startup
}

// Uncomment this line to ask the clients to omit their client-side decorations if possible.
// If the client will specifically ask for CSD, the request will be honored.
// Additionally, clients will be informed that they are tiled, removing some client-side rounded corners.
// This option will also fix border/focus ring drawing behind some semitransparent windows.
// After enabling or disabling this, you need to restart the apps for this to take effect.
prefer-no-csd

// You can change the path where screenshots are saved.
// A ~ at the front will be expanded to the home directory.
// The path is formatted with strftime(3) to give you the screenshot date and time.
screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

// You can also set this to null to disable saving screenshots to disk.
// screenshot-path null

// Animation settings.
// The wiki explains how to configure individual animations:
// https://yalter.github.io/niri/Configuration:-Animations
animations {
    // Uncomment to turn off all animations.
    // off

    // Slow down all animations by this factor. Values below 1 speed them up instead.
    slowdown 0.5
}

overview {
    backdrop-color "#2E344020"
}
gestures {
    hot-corners {
        off
    }
}
layer-rule {
    // This is for swaybg; change for other wallpaper tools.
    // Find the right namespace by running niri msg layers.
    match namespace="^wallpaper$"
    place-within-backdrop true
}

// Window rules let you adjust behavior for individual windows.
// Find more information on the wiki:
// https://yalter.github.io/niri/Configuration:-Window-Rules

// Work around WezTerm's initial configure bug
// by setting an empty default-column-width.
window-rule {
    // This regular expression is intentionally made as specific as possible,
    // since this is the default config, and we want no false positives.
    // You can get away with just app-id="wezterm" if you want.
    match app-id=r#"^org\.wezfurlong\.wezterm$"#
    default-column-width {}
}

// Open the Firefox picture-in-picture player as floating by default.
window-rule {
    // This app-id regular expression will work for both:
    // - host Firefox (app-id is "firefox")
    // - Flatpak Firefox (app-id is "org.mozilla.firefox")
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    open-floating true
}

window-rule {
    match title="Guild Wars 2"
    draw-border-with-background false
    focus-ring {
        off
    }
}
window-rule {
    match app-id=r#"galculator$"#
    open-floating true
}
window-rule {
    match at-startup=true app-id="Alacritty"
    open-on-workspace "PRIM"
    open-maximized true
}
window-rule {
    match at-startup=true app-id=r#"steam$"#
    open-on-workspace "GAME"
    open-maximized true
}
window-rule {
    match at-startup=true app-id=r#"tixati$"#
    open-on-workspace "TOR"
    open-maximized true
}
window-rule {
    match at-startup=true app-id=r#"vivaldi-stable$"#
    open-on-workspace "WWW"
    open-maximized true
}

binds {
    //////////////////////
    //BINDINGS
    //////////////////////

    //////////////////////
    //FUNCTION ROW
    //////////////////////
    
    Mod+Escape allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }
    Ctrl+Shift+Escape { spawn "alacritty" "-e" "btop"; }
    Print { screenshot; }
    Ctrl+Print { screenshot-screen; }
    Alt+Print { screenshot-window; }

    //////////////////////
    //NUMBER ROW
    //////////////////////
    
    Mod+1              { focus-workspace "PRIM"; }
    Mod+Shift+1        { move-column-to-workspace "PRIM"; }
    Mod+2              { focus-workspace "GAME"; }
    Mod+Shift+2        { move-column-to-workspace "GAME"; }
    Mod+3              { focus-workspace "TOR"; }
    Mod+Shift+3        { move-column-to-workspace "TOR"; }
    Mod+4              { focus-workspace "MEDIA"; }
    Mod+Shift+4        { move-column-to-workspace "MEDIA"; }
    Mod+5              { focus-workspace 9; }
    Mod+Shift+5        { move-column-to-workspace 9; }
    Mod+Equal          { spawn "galculator"; }

    //////////////////////
    //Q ROW
    //////////////////////

    Alt+Tab            { focus-workspace-down; }
    Alt+Shift+Tab      { focus-workspace-up; }
    Mod+Tab            { focus-monitor-next; }
    Mod+Q              { focus-workspace "WWW"; }
    Mod+Shift+Q        { move-column-to-workspace "WWW"; }
    Mod+W              { focus-workspace "CAL"; }
    Mod+Shift+W        { move-column-to-workspace "CAL"; }
    Mod+E              { focus-workspace "CHAT"; }
    Mod+Shift+E        { move-column-to-workspace "CHAT"; }
    Mod+R              { focus-workspace "DOC"; }
    Mod+Shift+R        { move-column-to-workspace "DOC"; }
    Mod+T              { switch-preset-column-width; }
    Mod+Y              { switch-preset-column-width; }
    Mod+Shift+Y        { switch-preset-window-height; }
    Mod+Ctrl+Y         { reset-window-height; }
    Mod+U              { focus-workspace-down; }
    Mod+I              { focus-workspace-up; }
    Mod+Shift+U        { move-column-to-workspace-down; }
    Mod+Shift+I        { move-column-to-workspace-up; }
    Mod+Ctrl+U         { move-workspace-down; }
    Mod+Ctrl+I         { move-workspace-up; }
    Mod+O repeat=false { toggle-overview; }
    Mod+Shift+P        { power-off-monitors; }
    Mod+BracketLeft    { consume-or-expel-window-left; }
    Mod+BracketRight   { consume-or-expel-window-right; }

    //////////////////////
    //A ROW
    //////////////////////

    Mod+D hotkey-overlay-title="Run an Application: Rofi" { spawn "rofi" "-show" "drun"; }
    Mod+Shift+D hotkey-overlay-title="Run an Application: Rofi" { spawn "rofi" "-show" "run"; }
    Mod+F                { maximize-column; }
    Mod+Shift+F          { spawn "pcmanfm"; }
    Mod+Ctrl+F           { fullscreen-window; }
    Mod+H                { focus-column-left; }
    Mod+Ctrl+H           { move-column-left; }
    Mod+Shift+H          { focus-monitor-left; }
    Mod+Shift+Ctrl+H     { move-column-to-monitor-left; }
    Mod+J                { focus-window-down; }
    Mod+Ctrl+J           { move-window-down; }
    Mod+Shift+J          { focus-monitor-down; }
    Mod+Shift+Ctrl+J     { move-column-to-monitor-down; }
    Mod+K                { focus-window-up; }
    Mod+Ctrl+K           { move-window-up; }
    Mod+Shift+K          { focus-monitor-up; }
    Mod+Shift+Ctrl+K     { move-column-to-monitor-up; }
    Mod+L                { focus-column-right; }
    Mod+Ctrl+L           { move-column-right; }
    Mod+Shift+L          { focus-monitor-right; }
    Mod+Shift+Ctrl+L     { move-column-to-monitor-right; }
    Super+Alt+L hotkey-overlay-title="Lock the Screen: swaylock" { spawn "swaylock"; }
    Mod+Return hotkey-overlay-title="Open a Terminal: alacritty" { spawn "alacritty"; }

    //////////////////////
    //Z ROW
    //////////////////////

    Mod+Shift+X { quit; }
    Mod+Shift+C repeat=false { close-window; }
    Mod+V           { spawn "pavucontrol"; }
    Mod+N          { set-column-width "-10%"; }
    Mod+M          { set-column-width "+10%"; }
    Mod+Shift+N    { set-window-height "-10%"; }
    Mod+Shift+M    { set-window-height "+10%"; }
    Mod+Shift+Comma  { move-workspace-to-monitor-left; }
    Mod+Shift+Period  { move-workspace-to-monitor-right; }
    Mod+Shift+Slash { show-hotkey-overlay; }
    Mod+Shift+Space       { toggle-window-floating; }
    Mod+Space { switch-focus-between-floating-and-tiling; }

    //////////////////////
    //NUMPAD
    //////////////////////
    
    //END_KEYS
    
    //////////////////////
    //SPECIAL
    //////////////////////

    XF86AudioRaiseVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.1+"; }
    XF86AudioLowerVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.1-"; }
    XF86AudioMute        allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SINK@ toggle"; }
    XF86AudioMicMute     allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SOURCE@ toggle"; }
    XF86MonBrightnessUp allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "set" "+10%"; }
    XF86MonBrightnessDown allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "set" "10%-"; }

    //////////////////////
    //MOUSE
    //////////////////////
    Mod+WheelScrollDown      cooldown-ms=150 { focus-workspace-down; }
    Mod+WheelScrollUp        cooldown-ms=150 { focus-workspace-up; }
    Mod+Ctrl+WheelScrollDown cooldown-ms=150 { move-column-to-workspace-down; }
    Mod+Ctrl+WheelScrollUp   cooldown-ms=150 { move-column-to-workspace-up; }
    Mod+WheelScrollRight      { focus-column-right; }
    Mod+WheelScrollLeft       { focus-column-left; }
    Mod+Ctrl+WheelScrollRight { move-column-right; }
    Mod+Ctrl+WheelScrollLeft  { move-column-left; }
    Mod+Shift+WheelScrollDown      { focus-column-right; }
    Mod+Shift+WheelScrollUp        { focus-column-left; }
    Mod+Ctrl+Shift+WheelScrollDown { move-column-right; }
    Mod+Ctrl+Shift+WheelScrollUp   { move-column-left; }

}
