// This config is in the KDL format: https://kdl.dev
// "/-" comments out the following node.
// Check the wiki for a full description of the configuration:
// https://yalter.github.io/niri/Configuration:-Introduction
include "includes/input.kdl"
include "includes/output.kdl"
include "includes/misc.kdl"
include "includes/window_rule.kdl"
include "includes/layout.kdl"
include "includes/workspace.kdl"
include "includes/startup.kdl"
include "includes/binds.kdl"
include "includes/animations.kdl"

include "dms/cursor.kdl"
